
<div class="container" align="center">   
      
  <%= form_for @booking, url: {action: :update} do |f| %>    
     <h3> Update Data </h3>   
      
    <div>   
      <%= f.submit 'Update user' %>   
    </div>   
  <% end %>   
</div>  