<%= render  'shared/admin_navbar' %>
<h4>Mechanic List</h4>
<table>
  <tr>
    <th> Name</th>
    <th>Assine Work</th>
    <th>mechanic_view</th>
  </tr>
  <% @mech.each do |m|%>
  <tr>
    <td><%= m.name %></td>
    <td> <%= link_to "assinework", assinework_path(mechanic_id: m, booking_id:  @booking_mech_id) %></td>
    <td> <%= link_to "mechanic_view", mechanic_path(m, booking_id: @booking_mech_id) %></td>
    </tr>
  <% end %>
</table>

