<h1>Welcome to Mechanic </h1>
<h1>Booking Data</h1>
<table>
  <tr>
    <th> Name</th>
    <th> Email</th>
    <th> Contact</th>
    <th>Assine Work</th> 
    <th>Acction</th>
  </tr>
  <% @mech.each do |m|%>
    <tr>
      <td><%= m.name %></td>
       <td><%= m.email %></td>
      <td><%= m.contact %></td>
      <td> <%= link_to "assinework", assinework_path(mechanic_id: m.id, booking_id: params[:booking_id]) %></td>
      </tr>
  <%end %>
     