<div class="container"  align="center">
<h1>Customer Feedback Form</h1>
<form>
  <label for="fname">Customer Name:-</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="fname">Email:-</label><br>
  <input type="email" id="fname" name="fname"><br>
  <label for="lname">Contact:-</label><br>
  <input type="number" id="fname" name="fname"><br>
  <label for="lname">vehicle Number:-</label><br>
  <input type="text" id="lname" name="lname"><br>   
  <label for="lname">Start Date:-</label><br>
  <input type="text" id="lname" name="lname"><br>
  <label for="lname">End Date:-</label><br>
  <input type="text" id="lname" name="lname"><br>
  <label for="lname">Feedback:-</label><br>
  <input type="textarea" id="lname" name="lname"><br>
  <label for="lname">customer sign:-</label><br>
  <input type="textarea" id="lname" name="lname"><br>
  <label for="lname">Mechanic sign:-</label><br>
  <input type="textarea" id="lname" name="lname"><br><br>
  <input value='Print' type='button' onclick='window.print()'/>
</form>
</div>
